/*头部*/
#head{
    height: 168px;
}
#head-top{
    height: 31px;
    background-color: #e3e4e5;
}
#top-search{
    height: 7px;
    width: 721px;
    float: right;
    margin-top: 7px;
    margin-right: 131px;
}
#top-search .spacer{
    margin: 2px 5px 0 10px;
    width: 1px;
    height: 16px;
    background-color: #ccc;

}
 #top-search li{
    list-style: none;
     float: left;
     text-align: center;
     font-size: 13px;
     color: #999999;
     margin-left: 10px;
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
     max-width: 96px;
}

#head—bottom{
    height: 141px;
    float: left;

}
#head—logo{
    height: 120px;
    width: 190px;
    float: left;
    background-image: url("../img/b.png");
    margin-left: 177px;
    margin-top: 10px;

}

#search{
    height: 60px;
    width: 800px;
    float: left;
}
#search-left{
    height: 36px;
    width: 490px;
    float: left;
    background-color: #f10215;
    margin-top: 16px;
}
#search-lefttext{
    line-height: 28px;
    margin-top: 2px;
    width: 427px;
    margin-left: 2px;
}
.button{
    border-radius: 0;
    width: 56px;
    height: 32px;
    line-height: 36px;
    border: none;
    background-color: #e1251b;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    transition: background ease 0.2s;
    float: right;
}

#search-zj{
    width: 132px;
    height: 36px;
    text-align: center;
    line-height: 41px;
    border: 1px solid #eee;
    float: left;
    margin-top: 16px;
    margin-left: 20px;
}
#search-zj .iconfont{
    margin-right: 13px;
    font-size: 16px;
    color: #e1251b;
}
#search-zj a{
    color: #e1251b;
}
#search-zj .ci-count{
    position: absolute;
    top: 51px;
    left: 908px;
    right: auto;
    display: inline-block;
    padding: 1px 3px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #e1251b;
    border-radius: 7px;
    min-width: 12px;
    text-align: center;
}
#search-right{
    height: 66px;
    width: 66px;
    float: left;
    margin-left: 37px;
    background-image: url("../img/c.png");
    background-size: 65px;
}
#hotwords{
    height: 20px;
    width: 450px;
    float: left;
}
#hotwords li{
margin-left: 12px;
}

#navitems{
    height: 60px;
    width: 761px;
    float: left;
}
#navitems li{
    font-size: 16px;
    margin-left: 10px;
    margin-top: 28px;
}
.navitemsa1{
    color: black;
}

/*主体部分*/
#body{
  height: 1200px;

    background-color: #e3e4e5;
}
/*主体框1*/
#body1{
    width: 1008px;
    height: 474px;
    margin: auto;
    padding-top: 10px;
}
/*主体左边*/
#body-left{
    width: 190px;
    float: left;
    height: 100%;
}
#body-left ul{
    overflow: hidden;
    height: 98%;
    background-color: #fefefe;
    padding-top: 10px;
}
#body-left li:hover{
    background-color: #999999;
}
.body-lefta{
    color: #333333;
    font-size: 14px;
}
.cate_menu_item_1{
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    color: black;
    padding-left: 27px;
    width: 100%;
}
.cate_menu_item_2{
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    color: black;
    width: 100%;
    padding-left: 27px;
}
/*主体中间*/
#body-zj{
    width: 599px;

    float: left;
    height: 100%;
    margin-left: 10px;

}
#imgBox{
    width: 100%;
    height: 100%;
    position: relative;
}
#imgBox img{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}
#click{
    height: 17px;
    width: 100px;
    position: absolute;
    bottom: 69px;
    left: 600px;
}
#click ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#click li{
    height: 14px;
    width: 14px;
    float: left;
    margin: 2px;
    border-radius: 7px;
    background-color: #7d7d7d;
    cursor: pointer;
}
#turn{
    position: absolute;
    top: 128px;
    left: 0;
    width: 100%;
    display: none;
}
#leftTurn{
    float: left;
    cursor: pointer;
}
#rightTurn{
    float: right;
    cursor: pointer;
}
/*主体右边*/
#body-right{
    width: 190px;
    float: left;
    height: 100%;
    margin-left: 10px;

}
/*主体右边用户部分*/
#body-user{
    height: 102px;
    background: #fff;
    overflow: hidden;
}
/*主体右边用户上方部分*/
#body-user-top{
    position: relative;
    padding-top: 67px;
    height: 35px;

}
#user-top-right{
    position: absolute;
    left: 20px;
    top: 13px;
    width: 44px;
    height: 44px;
}
#user-top-right a{
    display: block;
    width: 40px;
    height: 40px;
    border: solid 2px #fff;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
#user-top-left{
    position: absolute;
    top: 16px;
    left: 74px;
    right: 10px;
}
.user-top-left-a{
    color: #333333;
    text-decoration: none;
}


/*主体右边用户下方部分*/
#body-user-bottom{
    height: 25px;
    font-size: 0;
    text-align: center;
    float: left;
}
.user-bottom-lefta{
    display: inline-block;
    margin: 0 5px 0 20px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #fff;
    border-radius: 13px;
    background: #e1251b;
    text-align: center;
}
.user-bottom-righta{
    display: inline-block;
    margin: 0 5px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    border-radius: 13px;
    background: #363634;
    color: #e5d790;
    text-align: center;
}


/*主体右边新闻部分*/
#body-news{
    overflow: hidden;
    height: 144px;
    background: #fff;
}
#news-top{
    height: 20px;
    padding: 10px 0 0;
    position: relative;
    line-height: 20px;
    font-size: 0;
    margin-bottom: 8px;
}
#news-top h5{
    font-size: 14px;
    margin-left: 15px;
    color: #333333;

}
#news-top a{
    position: absolute;
    right: 14px;
    top: 10px;
    font-size: 12px;
    color: #999;
}

#news-bottom{
    position: relative;
    margin: 0 15px;
    height: 88px;
}
#news-bottom li{
    max-width: 160px;
    height: 16px;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #999;
    margin-bottom: 6px;
}
#news-bottom span {
    padding-left: 3px;
    color: #f10215;
    margin-right: 11px;
    background-color: rgba(225, 37, 27, 0.08);
}

/*主体右边服务部分*/
#body-server{
    position: relative;
    padding-top: 0;
    height: 229px;
    background-color: #ffffff;
}
#body-server img{
    height: 28px;
    width: 28px;
    position: relative;
    display: block;
    margin: 0 auto;
}
#body-server ul{
}
#body-server li{
    float: left;
    width: 62.6px;
    height: 57px;
    background: #fff;
    text-align: center;
}
#body-server span{
    color: #333333;
    line-height: 23px;
}
/*主体框2*/
#body2{
    height: 700px;
    width: 1265px;

}
/*主体框2内框*/
#body2-inner{
    height: 260px;
    width: 1005px;
    border: 1px solid blue;
    margin: auto;
    margin-top: 27px;
}
/*京东秒杀--*/
#seckill{
    height: 260px;
    width: 190px;
    background-color: #e83632;
     float: left;
}
#seckill-title{
    color: #ffffff;
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
}
#seckill-desc{
    color: #ffffff;
    font-size: 18px;
    margin-top: 90px;
    text-align: center;
        font-weight: bold;
}
#seckill-time{
    margin-left: 33px;
    width: 130px;
    height: 30px;
    margin-top: 10px;
    display: block;
}
.seckill-timespan{
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #2f3430;
    margin-right: 0px;
    color: white;
    font-size: 20px;
        font-weight: bold;
}
.seckill-timespan1{
    position: relative;
    float: left;
    width: 20px;
    height: 30px;
    text-align: center;
    margin-right: -1px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: -3px;
}



 /*京东秒杀列表*/
#seckill-list{
    height: 260px;
    width: 627px;
    border: 1px solid yellow;
    float: left;
}
.seckill-list-1{
    height: 260px;
    width: 207px;
    float: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
.seckill-list-1-img{
   width: 145px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-size: auto;
}
.list-img{
    width: 100%;
    height: 100%;
    position: relative;
}
.seckill-list1h6{
    font-size: 12px;
    font-weight: normal;
    color: #333;
    transition: color ease 0.2s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
}
.seckill-list-1 h6:hover{
      color: #c81623;
}
.seckill-list-price{
    border: 1px solid #e1251b;
    position: relative;
    box-sizing: border-box;
    line-height: 24px;
    overflow: hidden;
    background-color: #e1251b;
    width: 160px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}
.list-price-span1{
    width: 92px;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    float: left;
}
.list-price-span2{
height: 100%;
    width: 66px;
    float: right;
    background: #fff;
    text-align: center;
    color: #999;
    font-size: 12px;
    line-height: 22px;
    box-sizing: border-box;
    text-decoration: line-through;
    vertical-align: top;
}
.before{
    content: ' ';
    width: 0;
    height: 0;
    border-width: 22px 8px 0 0;
    border-style: solid;
    border-color: transparent white transparent transparent;
    position: absolute;
    top: 0;
    left: 84px;
}

#button1{
    position: absolute;
    width: 25px;
    height: 35px;
    line-height: 35px;
    background-color: rgba(0, 0, 0, 0.15);
    margin-top: 104px;
    font-size: 20px;
    border: none;
    outline: none;
    transition: background-color ease 0.2s;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}
#button2{
    margin-left: 587px;
    position: absolute;
    width: 25px;
    height: 35px;
    line-height: 35px;
    background-color: rgba(0, 0, 0, 0.15);
    margin-top: 104px;
    font-size: 20px;
    border: none;
    outline: none;
    transition: background-color ease 0.2s;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    left: 330px;
}


 /*京东秒杀品类*/
#seckill-brand{
    height: 260px;
    width: 186px;
     border: 1px solid purple;
    float: left;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
}
.seckill-barnd-1{

}
 /*固定导航栏列表*/
#elevator{
    height: 348px;
    width: 60px;
    background-color: #f10215;
    position: fixed;
    top: 20px;
    right: 55px;
}
.elevator-a{
    position: relative;
    display: block;
    width: 28px;
    height: 38px;
    line-height: 19px;
    font-size: 14px;
    color: #333;
    padding: 10px 16px;
    transition: color ease 0.2s;
    background: #fff;
    z-index: 1;
}
#elevator :hover{
     background-color: #f10215;
}
#elevator a:hover{
    color: #ffffff;
}
/*底部*/
#bottom{
    height: 400px;
    width: 1232px;
    text-align: center;
}

/*顶部浮动快捷方式*/

#float_top_logo{
    width: 125px;
    height: 40px;
    background-image: url("../img/sprite.png");
    background-position: 0px -120px;
    float: left;
}
/*搜索栏*/
#float_top{
    height: 52px;
    width: 1232px;
    border-bottom: 2px solid #c81623;
    background-color: #ffffff;
    padding-left: 150px;
    position:fixed;
    top: 0;
    left: 0;
    display: none;

}
#search_top_left_float {
    width: 530px;
    height: 35px;
    margin-top: 10px;
    margin-left: 100px;
    float: left;
}

#keyword_float {
    padding: 2px 44px 2px 17px;
    width: 400px;
    height: 25px;
    border: 2px solid #e1251b;
    line-height: 25px;
    font-size: 14px;
    float: left;
}

#search_top_left_float img {
    float: left;
}

/*购物车*/
#search_top_center_float {
    width: 140px;
    height: 33px;
    background-color: #fff;
    text-align: center;
    line-height: 33px;
    float: left;
    margin-top: 10px;
    border: 1px solid #eeeeee;
}

#search_top_center_float .ci-count {
    position: relative;
    top: -8px;
    left: -6px;
    right: auto;
    display: inline-block;
    padding: 1px 3px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #e1251b;
    border-radius: 7px;
    min-width: 12px;
    text-align: center;
}