
/*注册主体*/
#zc-body{
    height: 590px;
    width: 1210px;
    margin: 80px auto 0;
    border-bottom:  #999999;
}


/*输入手机号*/
#input-wrp{
    height: 300px;
    width: 400px;
    margin: 50px auto 186px;

}
.form-item{
    height: 52px;
    width: 400px;
}
#select-country{
    padding: 0 0 0 20px;
    cursor: pointer;
    color: #666;
    width: 105px;
    height: 99%;
    float: left;
    font-size: 14px;
    text-align: center;
    line-height: 47px;
    border-right:  1px solid #cccccc;
}

#input-iphone{
    float: left;
    width: 272px;
    height: 52px;
    margin-left: 2px;
}

#input-iphone input{
   position: absolute;
    z-index: 2;
    line-height: 46px;
    font-size: 14px;
    color: rgb(204, 204, 204);
    display: inline;
    border: none;
    height: 52px;
    padding-left: 30px;
    width: 242px;
}

.arrow{
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-left: 5px;
    background-position: -2px -150px;
}
input:focus {
    outline:none;
    color: #f10215;
}
#form-getcode{
    height: 54px;
    width: 400px;
    line-height: 52px;
    text-align: center;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    z-index: 2;
    border: 1px solid #cccccc;
    margin-top: 40px;
}

.form-next{
    height: 54px;
    width: 400px;
    line-height: 52px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    z-index: 2;
    background-color: #e2231a;
    margin-top: 45px;
}
#reg-other{
    height: 28px;
    width: 400px;
    margin-top: 28px;
}

#form-otherperson{
    color: #333;
    cursor: pointer;
    float: left;
    font-size: 14px;
}
.reg-ohter-icon{
    display: inline-block;
    margin: 0 8px 2px 0;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    background-position: 0 -160px;
}
#form-otherperson1{
    color: #333;
    cursor: pointer;
    float: right;
    font-size: 14px;
}

#form-otherperson :hover{
    color: #c81623;
}
#form-otherperson1 :hover{
    color: #c81623;
}

